<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="portfolio.css">
    <title>About Me</title>
</head>

<header>
    <!--Navigation Bar with a Title Logo of my name-->
    <nav class="navbar">
        <h1 class="Title-Logo">P.<span>B.N</span></h1>
        <div class="navigation">
            <ul class="nav-list">
                <li><a href="" class="nav-link">Home</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/project" class="nav-link">Projects</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <!--About me and experience page-->
    <h1>Hello beta this is me prashanth</h1>
</body>

</html>