<div id="Contact">
    <h1>Contact Me</h1>
    <p>Feel free to reach out to me!</p>

    <div class="contact">
        <section class="ContactInfo">
            <img src="/media/contactmePic.jpg">
            <h2>Contact Information</h2>
            <p>Prashanth Baskaran Nallathamby</p>
            <p>+1 (123) 456 7890</p>
            <p>prashanth.nallathamby@ontariotechu.net</p>
        </section>

        <section class="ContactForm">
            <h2>Contact Form</h2>
            <form class="contact_Info">

                <label for="name">Name <input type="text" id="name" name="name" placeholder="Ex. John Wick, Bruce wayne, etc."></label>

                <label for="email">Email <input type="email" id="email" name="email" placeholder="Ex. BruceWayne@email.com"></label>

                <label for="subject">Subject <textarea id="subject" name="subject" placeholder="What is up..." ></textarea></label>

                <input type="submit" value="Submit">

            </form>
        </section>

    </div>
</div>