<!--Home Page with animated greeting and info-->
<div id="Home">
    <h2 class="greeting">Hello! my name is...</h2>
    <h1 class="Name">Prashanth Baskaran Nallathamby</h1>
    <h2 class="info-greet">Aspiring Powerlifter/Educator/Fullstack-Developer/Network-Engineer</h2>
</div>