<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>portfolio</title>
</head>


<body>
    <header>
        <!--Navigation Bar with a Title Logo of my name-->
        <nav class="navbar">
            <h1 class="Title-Logo">P.<span>B.N</span></h1>
            <div class="navigation">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/about" class="nav-link">About</a></li>
                    <li><a href="/project" class="nav-link">Projects</a></li>
                    <li><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>



    <!--pages goes here-->
    <%- body %>

        <footer>
            <li><a href="https://www.linkedin.com/in/prashanth1214/">[&#128187; My LinkedIn]</a></li>
            <li><a href="https://github.com/Pusnikai">[&#128053; My GitHub]</a></li>
            <p></p>
            <p>&copy; Prashanth Baskaran Nallathamby</p>
            <p></p>
        </footer>
</body>




</html>