<div id="Projects">
    <h1 class="project">My Projects</h1>

    <div class="row">
        <div class="column">
            <div class="card">
                <h2>Encryption</h2>
                <p class="topic">Python Project</p>
                <p>Encrypting and decrypting</p>
                <p><a class="button" href="https://github.com/Pusnikai/Personal-Project.git">{Data Encryption}</a></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h2>Portfolio</h2>
                <p class="topic">WEB&SCRIPT</p>
                <p>Portfolio Website (literally this website!!)</p>
                <p><a class="button" href="https://github.com/Pusnikai/WebAndScriptingREPO.git">{Porfolio Website}</a></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h2>Coming Soon</h2>
                <p class="topic">Sooner then expected</p>
                <p>"Don't worry it will be coming soon"</p>
                <p><a class="button" href="">{Coming Soon!}</a></p>
            </div>
        </div>
    </div>

</div>